body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.one {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  color: white;
  padding: 20px 100px 100px;
  gap: 50px;
}

.header {
  display: flex;
}

#logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  margin: 0 0 0 auto;
  list-style-type: none;
  padding: 0;
  gap: 12px;
  font-size: 18px;
  color: #E5E7EB
}

.sub-header {
  display: flex;
}

#sub-header-left {
  flex: 1 1 50%;
}

#sub-header-right {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

#awesome {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8
}

#info {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.rounded-square {
  height: 100px;
  width: 100px;
  border: 5px solid skyblue;
  margin: 20px;
}

.two {
  text-align: center;
}

.container {
  display: flex;
  gap: 10px;
  margin: 0px 100px;
}

.three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  padding: 100px;
}

#quote {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
}

#credit {
  align-self: flex-end;
}

.four {
  display: flex;
  padding: 50px;
}

.action {
  background-color: #3882F6;
}

.five {
  text-align: center;
  background-color: #1F2937;
  color: white;
}

button {
  background-color: #3882F6;
}