body {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  background-color: navy;
}

.header {
  color: white;
}

.header-links {
  display: flex;
  margin: 0 0 0 auto;
  list-style-type: none;
  padding: 0;
}